<a href="https://colab.research.google.com/github/evangelav/Machine_Learning/blob/main/BIN3100_ML_S3_Case_studies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#BIN3100 ML S3 

## Théorie: Lectures obligatoires

1. Voici la première vidéo: [PYTHON SKLEARN: KNN, LinearRegression et SUPERVISED LEARNING (20/30)](https://www.youtube.com/watch?v=P6kSc3qVph0&list=PLO_fdPEVlfKqMDNmCFzQISI2H_nJcEDJq&index=20). En suivant le lien ci-après, vous trouverez toutes les informations dont vous avez besoin pour cette étude de cas: [data set](https://www.kaggle.com/c/titanic/data).

2. Lire [le chapitre 2 "End-to-End Machine Learning Project" du livre Hands-On Machine Learning with Scikit-Learn & TensorFlow (pages 55 à 99 du pdf) (pages 33 à 77 du livre)](https://hevinci.sharepoint.com/:b:/s/GroupeBINV3100_IA_2021-2022/EWj2jCwuZmtFtQSzLDNarVYBSEJlLgb2t-t7r7Lg_ZljnA?e=HYsG1G)

##  Une étude de cas: qui survivra au terrible naufrage du Titanic?

##Quel objectif initial vous êtes-vous fixé?

<font color='red'> Répondez à cette question ici

---

##Exploration des données

Exploratory Data Analysis

Objectif: comprendre au maximum les données dont on dispose pour définir une stratégie de modélisation.


1.   Analyse de la forme:

  a. Identification de la target: <font color='red'> Quel est votre target? </font>

  b. Nombre des lignes et de colonnes: <font color='red'> Quelle est la forme de votre dataset? </font>

  c. Identification des valeurs manquantes: <font color='red'> Le dataset contient-il des données manquantes? </font>

  d. Types de variables: <font color='red'> Quelles sont les types de vos données?</font>

2.   Analyse du fond:

  a. Visualisation de la target <font color='red'>

	b. Compréhension des différentes variables

	c. Visualisation des relations

<font color='red'>Analyse de la forme: Répondez-ici </font>
<br />
 a) target = le tableau y pour voir qui va survivre en fonction du dataset
 <br />
 b) un tableau à deux dimension
 <br />
 c) oui la colonne de body et de boat sont incomplète pour certaines entrées du dataset
 <br />
 d) types de variables = numériques et textuelles dans le tableau original mais changé en variables numériques pour le tableau utilisé pour les prédictions


<font color='red'> Analyse de fond Répondez-ici </font>

##Construisez votre modèle ici

In [24]:
from google.colab import files
uploaded = files.upload()

%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

titanic = pd.DataFrame(pd.read_excel("titanic.xls"))
titanic.shape
titanic.head()

Saving titanic.xls to titanic (4).xls

   pclass  survived  ...   body                        home.dest
0       1         1  ...    NaN                     St Louis, MO
1       1         1  ...    NaN  Montreal, PQ / Chesterville, ON
2       1         0  ...    NaN  Montreal, PQ / Chesterville, ON
3       1         0  ...  135.0  Montreal, PQ / Chesterville, ON
4       1         0  ...    NaN  Montreal, PQ / Chesterville, ON

[5 rows x 14 columns]

In [25]:
titanic = titanic[['survived', 'pclass', 'sex', 'age']] #dataset
titanic.dropna(axis=0, inplace=True)
titanic['sex'].replace(['male', 'female'], [0,1], inplace=True)
titanic.head()

   survived  pclass  sex      age
0         1       1    1  29.0000
1         1       1    0   0.9167
2         0       1    1   2.0000
3         0       1    0  30.0000
4         0       1    1  25.0000

In [26]:
y = titanic['survived']
X = titanic.drop('survived', axis=1)

##Testez votre modèle ici

In [27]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier()
model.fit(X, y)
model.score(X,y)

0.8279158699808795

In [28]:
model.predict(X)

array([1, 1, 1, ..., 0, 0, 0])

## La meilleure valeur de voisin

Écrivez un programme qui permet de trouver la meilleure valeur de voisin n_neighbors possible pour le modele de KNeighborsClassifier.

In [30]:
def meilleur_valeur_voisin():
 score = []
 best_k = 1
 best_score = 0
 for k in range(best_k, 30):
   model = KNeighborsClassifier(n_neighbors=k)
   model.fit(X,y)
   score.append(model.score(X,y))

   if best_k < model.score(X,y):
     best_k = k
     best_score = model.score(X,y)
 print(best_k)
 plt.plot(score)

#Kit Lego

Après avoir lu le chapitre 2 du livre Hands-On Machine Learning with Scikit-Learn & TensorFlow, nous vous demandons de mettre en pratique la matière de ce chapitre avec un nouveau jeu de données [sem03.zip](https://hevinci.sharepoint.com/:u:/s/GroupeBINV3100_IA_2021-2022/EZ5NQkmvkvxGj-S3UBBsCOsBDOV9-2H02Ee4uZ1xjd9KXg?e=VjxDd0) contenant des informations sur des kits Légo. 
Voici quelques informations sur ce jeu de données.

## 1	CONTEXT
Have you ever wondered what is the most expensive lego set in the world? Or how many pieces does the Taj Mahal set contain? What about, how these features might interact with each other? I wanted to answer some of these questions and more, so I scraped lego set and price information from Lego's website.
## 2	CONTENT

This dataset contains lego sets scraped from lego.com. Each observation is a different Légo set and there are features like how many pieces are in the set, how much the set sells for, etc. This dataset contains lego sets from all the different countries they sell online to (except South Korea).

## 3	TRAIN.CSV

Vous trouverez sur mooVin un fichier « [train.csv](https://hevinci.sharepoint.com/:x:/s/GroupeBINV3100_IA_2021-2022/Ebnsvc_7IyNMivWlxYSKNQEBqhUFYQ5He7p5Kjttltybag?e=vDYWRX) », ce fichier contient des informations à propos de 9195 kits Légo.  Chaque kit est décrit à l’aide des informations suivantes  :

1.	ages
2.	list_price
3.	num_reviews
4.	piece_count
5.	play_star_rating
6.	prod_desc
7.	prod_id
8.	prod_long_desc
9.	review_difficulty
10.	set_name
11.	star_rating
12.	theme_name
13.	val_star_rating
14.	country

Attention ce fichier n’est peut-être pas très « propre », pensez à le nettoyer

## 4	BUT DE L’EXERCICE
Le but de cet exercice est d’entrainer, à l’aide des informations contenues dans le fichier « [train.csv](https://hevinci.sharepoint.com/:x:/s/GroupeBINV3100_IA_2021-2022/Ebnsvc_7IyNMivWlxYSKNQEBqhUFYQ5He7p5Kjttltybag?e=vDYWRX) », un premier « machine learning model » afin de prédire le prix de nouveaux kits Légo.

Le fichier « [test.csv](https://hevinci.sharepoint.com/:x:/s/GroupeBINV3100_IA_2021-2022/ER-u2ACcP_dEllwtK2BuhIwBPjt97f0qqrsaraSdF3FKiw?e=HnKSeT) » contient les mêmes informations, à propos de 3066 kits Légo, que le fichier « train.csv ». Excepté la colonne « list_price » qui n’est pas présente! Une fois votre modèle entraîné, c’est à vous de deviner le prix de ces 3066 kits.

Pour le dimanche 10/10/2021 à 23h59, ceux qui le souhaitent peuvent soumettre sur mooVin un fichier csv contenant pour chaque kit le prix prédit. Pour chaque kit, votre fichier csv contiendra une ligne reprenant uniquement le prix prédit. Les prix doivent évidemment apparaître dans le même ordre que les ligne du fichier « test.csv ». Nous évaluerons vos prédictions à l’aide du « Root Mean Square Error ».

In [33]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [40]:
import csv
train_lst = []
def row_factory(row):
  return [x if x!= '' else 'NaN' for x in row]
with open('train.csv', 'r', newline='') as f:
  reader = csv.reader(f, delimiter=",")
  for row in reader:
    train_lst.append(row)

In [42]:
train = pd.DataFrame(train_lst[1:], columns=train_lst[:1])
train.head()

      ages          list_price  ...              theme_name val_star_rating country
0  0  4-99  6.0878000000000005  ...                 Classic             5.0      LU
1  1   4-7             24.3878  ...                 Juniors             4.0      FR
2  2  6-12             146.339  ...                    City             4.0      FI
3  3  7-14               77.87  ...  THE LEGO® BATMAN MOVIE             2.6      NO
4  4  8-14             32.9278  ...              Star Wars™             3.9      ES

[5 rows x 15 columns]

In [43]:
train = train[['prod_id', 'list_price', 'ages']]
train.dropna(axis=0, inplace=True)
train.head()

   prod_id          list_price  ages
0  10709.0  6.0878000000000005  4-99
1  10739.0             24.3878   4-7
2  60141.0             146.339  6-12
3  70921.0               77.87  7-14
4  75529.0             32.9278  8-14

In [44]:
X = train.drop('list_price', axis=1)
y = train['list_price']

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:3889: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

TypeError: ignored